@import url("https://fonts.googleapis.com/css2?family=Arial:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
:root {
  /* fonts */
  --font-arial: Arial;
  --font-inter: Inter;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-3xs-2: 9.2px;

  /* Colors */
  --text: #000;
  --color-whitesmoke: #faf8f8;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-11xs-8: 1.8px;
  --br-8xs-6: 4.6px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
